html, body {
	background-color: white;
}

.sv-completedpage {
	height: initial;
	padding-top: 1em;
	padding-bottom: 1em;
}

.sv-body__page, .sv-body__footer {
	margin-top: 0 !important; /*Override top padding on survey top and above footer (complete/sign button)*/
}

.bigNumber {
	margin: auto;
    width: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    font-size: 54px;
	background: linear-gradient(45deg, red, yellow);
    border: 3px solid #333;
}

.peopleHaveSigned {
	text-align: center;
}

#socials {
	margin-top: 1em;
	text-align: center;
}

#socials * {
	margin: 10px;
}

#petitionText {
	margin: 20px;
	margin-top: 35px;
}

li {
	margin-bottom: 8px;
}

#petitionInfo {
	margin-top: 5px;
	padding-top: 20px;
}

.peopleHaveSigned {
	margin-top: 0.5em;
	margin-bottom: 0;
}

#petitionInfo {
	background-color: #eee;
	border-radius: 0.5em;
}

.completed {
	background: linear-gradient(45deg, #ff0000bb, #ffff00bb);
}

@media only screen and (min-width: 600px) {
	#petitionText, #petitionInfo {
		margin-right: 5%;
		margin-left: 5%;
	}
}
